<h1>Make your form here</h1>
<form action="/pirates" method="post">
<label>Name</label>
<input type="text" name="pirate[name]" id="pirate_name">
<label>Weight</label>
<input type="text" name="pirate[weight]" id="pirate_weight">
<label>Height</label>
<input type="text" name="pirate[height]" id="pirate_height">
<label>Name</label>
<input id= "ship_name_1" type="text" name="pirate[ships][][name]">
<label>Type</label>
<input id= "ship_type_1" type="text" name="pirate[ships][][type]">
<label>Booty</label>
<input id= "ship_booty_1" type="text" name="pirate[ships][][booty]">
<label>Name</label>
<input id= "ship_name_2" type="text" name="pirate[ships][][name]">
<label>Type</label>
<input id= "ship_type_2" type="text" name="pirate[ships][][type]">
<label>Booty</label>
<input id= "ship_booty_2" type="text" name="pirate[ships][][booty]">
<input type="submit" value="submit">
</form>
