<h1>Make your form here</h1>
<form action="/pirates" method="post">
<label for="pirate_name">Pirate Name</label>
<input type="text" id="pirate_name" name="pirate[name]">
<label for="pirate_weight">Pirate Weight</label>
<input type="text" id="pirate_weight" name="pirate[weight]">
<label for="pirate_height">Pirate Height</label>
<input type="text" id="pirate_height" name="pirate[height]">
<input type="submit" name="submit">
</form>
